/* :root {
  --clr-dark: #d9ed5d;
  --clr-light: #b0cd00;
  --clr-accent: #a8a8ff;
  --clr-rgba: #4646af;
  --clr-more: #0c0c1b;
} */


@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
} */

body {
    font-family: 'Roboto', sans-serif;
    margin: 31px;
    /* background-color: #4646af; */
}
.navbar {
    margin: 31px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 10px;
}
header h1 {
     display: inline-block;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     margin: 0 24px 0 0;
     font-size: 27px;

}

nav {
    display: inline-block;
}
.links li {
    display: inline-block;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    margin: 0 8px;
    font-family: 'Young Serif', serif; 
}
/* a {
    text-decoration-thickness: 1em;
} */

a.active {
    padding: 1px;
    /* text-decoration: underline; */
    border-bottom: 5px solid #d9ed5d ;
    text-decoration-thickness: 1em;
}

.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card h2 {
    display: inline-block;
    margin: 7px 0 0 0;
}

.card {
    width: 49.89%;
    display: inline-block;
    box-sizing: border-box;
    padding: 17px;
}
.about {
    width: 37px;
    min-width: 600px;
    margin: 91px 0 29px 49px;
    font-family: 'Young Serif', serif; 
}

.about h3 {
    font-size: 39px;
    font-weight: 300;
}

.contact {
    margin: 99px 0 0 0;
}
.ft {
    border-bottom: 5px solid #d9ed5d ;
    display: inline-block;
    padding-bottom: 7px;
    margin-top: 0 0 0 0;
}

.contact p {
    margin: 0;
    font-size: 17px;
}

img:hover {
    opacity: 0.9;
}