@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
section{
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

.section-1{
    background-color: #f78837;
    display: flex;
}

.section-2{
    background-color: #dfe4e5;
    
     /* font-family: 'Young Serif', serif;  */
}

.section-2 span a {
    text-decoration: none;
}

.text-green-400 {
    --tw-text-opacity: 1;
    color: rgb(74, 222, 128/var(--tw-text-opacity ));
}
.section-2 h2{
     font-family: 'Young Serif', serif; 
     font-size: 47px;
}

.main-wrapper{ 
    display: flex;
    
}

.section-3{
    background-color: #002432;
    margin-top: -100vh;
    position: relative;
}

.box1{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    width: 35%;
}

img{
    min-height: 300px;
    height: auto;
    width: 200px;
    object-fit: cover;
}

.name {
    font-size: 170px;
    font-family: 'Young Serif', serif; 
}