/* :root {
  --clr-dark: #d9ed5d;
  --clr-light: #b0cd00;
  --clr-accent: #a8a8ff;
  --clr-rgba: #4646af;
  --clr-more: #0c0c1b;
} */


.royal{
    width: 100px;
    background: #a8a8ff;
    height: 100px;
    border-radius: 50%;
    /* margin-top: -15px; */
}


body {
    background: #d9ed5d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.yellow {
    background: #4646af;
}

.dot {
    background: #b0cd00;
    border-radius: 50%;
}