*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'montserrat-bold', sans-serif;
}

html,body {
    height: 100%;
    width: 100%;

}

.nav{
    height: 150px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 50px;
    z-index: 99;
}

.nav img{
    height: 75px;
}

.nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}

.main{

}