@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.project {
    width: 500px;
    height: 400px;
    border: 10px  ;
    background-color: antiquewhite;
    display: table;


}

body {
    color: #d5e1e1;
}

.res{
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: #f79cff;
    font-family: 'Gloria Hallelujah', cursive;
    width: 100%;
    height: auto;
}
p {
    /* color: #252525; */
    color: #0a5238;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
}
ul {
    color: #0a5238;
   
}

 a {
    color: #0a5238;
    text-decoration: none;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Shadows Into Light', cursive;
  
}

.loc {
    color: #252525;
    font-family: 'Shadows Into Light', cursive;
}

h3 {
    color: #f76a37;
     font-family: 'Gloria Hallelujah', cursive;
}
.ike {
     font-family: 'Gloria Hallelujah', cursive;
}



@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

font-family: 'Grape Nuts', cursive;
font-family: 'Indie Flower', cursive;
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Grape+Nuts&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

font-family: 'Shadows Into Light', cursive;

https://fonts.google.com/?classification=Handwriting */